.footer{
    display: flex;
    align-items: baseline;

}
.footer__adres-section{
    margin-top: 20px;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;   
    letter-spacing: 0.03em; 
    
}
.footer-section{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2F303A;
}
.footer__link{
    margin-top: 9px;
    color: rgba(255, 255, 255, 0.6);   
    display: block;
    transition: color 250ms var(--cubic-bezier);
    &:hover,
    &:focus{
    color:var(--akcent-color);}
}