.label-text{
    font-size: 14px;
    color: var(--text-color);
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
    & span{
        width: 16px;
        height: 15px;
        border-radius: 2px;
        border: 2px solid var(--title-text-color);
        margin-right: 7px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.icon-chek{
    fill: var(--primeri-white-color);
}
.input-check:checked + .label-text span{
background-color: var(--akcen-color-button);
border: none;
}
.chek-link-text{
    text-decoration: underline;
    color: var(--akcen-color-button);
}