.features{
    padding-top: 94px;
    padding-bottom: 94px;
    
}
.features-list{
    display: flex;}
.features-list__list-item +.features-list__list-item{
    margin-left: 30px;
}
.features-list__title{
    margin-left: auto;
    margin-right: auto;
    color:var(--title-text-color);
    text-transform: uppercase;
    @include font(14px, 1.14, 700, 0.03em);
    margin-bottom: 10px;   
}
.features-list__text{
    @include font(14px, 1.71, 400, 0.03em);
    
}
.features-list__list-item{
    width: 270px;
}


.features-svg{
    display: flex;
    width: 1200px;
}
.features-svg__item{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    width: 270px;
    height: 120px;
    border-radius: 4px;
    background-color: #F5F4FA;
}
.features-svg__item+.features-svg__item{
    margin-left: 30px;
}
.features-svg__icon{
    width: 70px;
    height: 70px;
}