.logo{
    color:var(--akcent-color);
    font-family: Raleway,sans-serif;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
.logo-black--color-dark{
    color: var(--title-text-color) ;
}
.logo-white--color-light{ 
    color:var(--primeri-white-color);
}
.heder-line{
    border-bottom: 1px solid #ECECEC;
}