.subscribe{
    width: 570px;
    height: 86px;
    margin-left: 93px;

}
.subscribe-list{
    display: flex;
}
.subscribe-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primeri-white-color);
    margin-bottom: 20px;

}
.subscribe-input{
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: transparent;
    border-radius: 4px;
    font-size: 16px;
    line-height: 1.25;
    padding: 15px 16px;
    color: var(--primeri-white-color);
    &::placeholder{
        color: rgba(255, 255, 255, 0.6);
    }
}

.subscribe-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 12px;
    &:hover,
    &:focus{
    background-color: #0f5996;}
}

.modal-icon{ 
    margin-left: 10px;
    fill: var(--primeri-white-color);
}